# PROVIDERS
# AT&T - @txt.att.net
# Verizon - @vtext.com
# Sprint - @messaging.sprintpcs.com
# T-Mobile - @tmomail.net
# Virgin - @vmobl.com
# Google Fi - @msg.fi.google.com
# Ting - @message.ting.com

# CS 381
201820 36593 2025550134@txt.att.net

# CS 471
201820 15866 2025550187@txt.att.net,johnsmith@gmail.com

# CNIT 105
201820 13147 test@gmail.com
